node_modules
npm-debug.log
vendor
.env
.env.backup
.git
.gitignore
.gitattributes
.editorconfig
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
